flask==3.0.0
gunicorn==21.2.0
google-generativeai==0.3.2
google-api-python-client==2.108.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
meteomatics==2.11.6
googlemaps==4.10.0
python-dotenv==1.0.0
APScheduler==3.10.4
transformers==4.36.2
torch==2.1.2
scikit-learn==1.3.2
geopy==2.4.1
tensorflow==2.15.0
keras==2.15.0
numpy==1.26.2
pandas==2.1.4
